#title{
    font-size: 40px;
    font-weight: bold;
    margin-left: 50%;
}

#question{
    font-size: 20px;
}
#quizArea{
    display:flex;
    flex-direction: column;
    column-gap: 20px;
    font-size: 20px;
    border: solid black;
}

#choices{
    flex-grow:inherit;
    width:200px;
}

#answer:hover{
    opacity: 30%;
    color: red;
}

#wrongChoice1:hover{
    opacity: 30%;
    color: red;
}

#wrongChoice2:hover{
    opacity: 30%;
    color: red;
}

#wrongChoice3:hover{
    opacity: 30%;
    color: red;
}